<div id="top"></div>
<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header headerFlex" style="background-color: aquamarine;">
          <h4 class="card-title"> Add Color</h4>
        </div>
        <div class="card-body">
          <div class="row" [formGroup]="colorForm">
            <div class="col-md-6 col-lg-4">
              <label>
                Name :
              </label>
              <input type="text" class="form-control" formControlName="name">
              <div *ngIf="submitted && c.name.errors">
                <span [ngClass]="c.name.errors ? 'text-danger' : ''">Name is required.</span>
              </div>

            </div>

            <div class="col-md-6 col-lg-4">
              <label>
                Hex Code :
              </label>
              <input type="text" class="form-control" formControlName="hexCode">
              <div *ngIf="submitted && c.hexCode.errors">
                <span [ngClass]="c.hexCode.errors ? 'text-danger' : ''">Hex Code is required.</span>
              </div>

            </div>

          </div>
          <div class="text-center control-buttons">
            <div class="text-danger" *ngIf="message != ''">{{message}}</div>
            <input type="button" class="btn btn-primary" value='Save' (click)="SaveColor()">
            <input type="button" class="btn btn-warning" value='Cancel' (click)="Cancel()">
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<div>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
</div>